<div style="font-family: Arial, sans-serif; color: #333;">
    <p style="color: #333;">Hey {{ name }},</p>
    <p style="color: #333;">Please click below to confirm your email</p>
    <div style="text-align: center;">
    <a href={{ url }} style="background-color: #1f5300; color: #fff; padding: 10px 20px; text-decoration: none; border-radius: 5px; margin: 20px auto; display: inline-block;">Confirm</a>
    </div>
    <br/>
    <p style="color: #333;">Si vous ne pouvez pas cliquer sur le bouton ci-dessus, copiez et collez l'URL ci-dessous dans votre navigateur.</p>
    <p style="color: #333;">{{ url }}</p>
    <br/>
    <div style="color: #333;">Si vous n'avez pas demandé cet email, vous pouvez l'ignorer en toute sécurité.</p>
</div>