<div style="font-family: Arial, sans-serif; color: #333;">
    <h1 style="color: #007BFF;">Password Reset</h1>
    <p>Hello</p>
    <p>We have received a request to reset your password on GreenItForward. If you did not make this request, please ignore this email.</p>
    <p>If you made this request, please click on the button below to reset your password:</p>
    <div style="text-align: center;">
    <a href={{url}} style="background-color: #007BFF; color: #fff; padding: 10px 20px; text-decoration: none; border-radius: 5px; margin: 20px auto; display: inline-block;">Reset Password</a>
    </div>
    <p>This reset link will expire in 30 minutes.</p>
    <p>If you are experiencing problems, please contact us at {{ourMailAdress}}.</p>
    <p>Thank you,</p>
    <p>The GreenItForward Team</p>
</div>